.a4-page {
  width: 210mm;
  height: 297mm;
  padding: 10mm;
  margin: 10mm auto;
  font-family: "Calibri", sans-serif;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.title-text {
  font-size: 24pt;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.safety-category-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12mm;
  margin-bottom: 12mm;
}

.safety-category-table td {
  border: 0.1mm solid black;
  height: 14mm;
  font-weight: bold;
  vertical-align: middle;
  font-size: 18pt;
  text-align: center;
}

.safety-category-table td:first-child {
  width: 45%;
}

.basic-information-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 9pt;
}

.basic-information-table tr {
  height: 10mm;
}

.basic-information-table td {
  border: 0.1mm solid black;
  vertical-align: middle;
}

.basic-information-table tr:nth-last-child(1),
.basic-information-table tr:nth-last-child(2),
.basic-information-table tr:nth-last-child(3),
.basic-information-table tr:nth-last-child(4) {
  height: 6mm;
}

.basic-information-table td p {
  margin: 0;
  margin-left: 2mm;
}

.samples-table {
  border-collapse: collapse;
  margin-top: 5mm;
  width: 100%;
  vertical-align: middle;
  font-size: 9pt;
}

.samples-table tr:nth-child(1),
.samples-table tr:nth-child(2),
.samples-table tr:nth-child(3),
.samples-table tr:nth-child(4),
.samples-table tr:nth-child(5),
.samples-table tr:nth-last-child(1),
.samples-table tr:nth-last-child(2) {
  height: 6mm;
}

.samples-table tr:nth-child(6) {
  height: 18mm;
}

.samples-table tr:nth-child(7) {
  height: 58mm;
}

.samples-table td img {
  margin: 0;
  margin-left: 2mm;
}
.samples-table td {
  vertical-align: middle;
  border: 0.1mm solid black;
}

#qrcode-container {
  vertical-align: top;
  text-align: center;
  margin-bottom: 1mm;
  font-weight: bold;
}

.samples-table td p {
  margin: 0;
  margin-left: 2mm;
}

.signatures-table {
  margin-top: 5mm;
  border-collapse: collapse;
  width: 100%;
  font-size: 9pt;
}

.signatures-table tr {
  height: 5mm;
}
.signatures-table tr:nth-child(3) {
  height: 15mm;
}

.signatures-table td {
  vertical-align: middle;
  border: 0.1mm solid black;
  display: table-cell;
  text-align: center;
  width: 25%;
}

.signatures-table td p {
  margin: 0;
}

#footer {
  text-align: right;
  font-size: 9pt;
}

.col-10 {
  width: 10%;
}
.col-15 {
  width: 15%;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-35 {
  width: 35%;
}
.col-45 {
  width: 45%;
}
.col-50 {
  width: 50%;
}
.col-55 {
  width: 55%;
}
.col-65 {
  width: 65%;
}
.col-80 {
  width: 80%;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  .a4-page {
    box-shadow: none;
    margin: 0mm;
    size: A4;
  }

  table {
    border-collapse: collapse;
  }

  table,
  table td {
    border: 0.1mm solid black;
  }
}
