.archive-main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1280px;
  margin: 0em auto 5em auto;
}
.archive-table-container {
  overflow: visible;
}
.expanded-settings{
  width: 100%;
}

.archive-search-input {
  display: flex;
  padding: 0.5em;
  padding-left: 1em;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  max-height: 2em;
  border-top-left-radius: 1.4em;
  border-bottom-left-radius: 1.4em;
  padding-left: 0;
  padding-right: 0;
}
.archive-settings-outer{
  padding: 2em;
  margin-bottom: 1em;
  background-color: #f5f5f5;
  border-radius: 0.2em;
  margin-top: 0.5em;
}