.landing-page-container .landing-page-card {
  text-align: center;
  height: 13em;
  width: 100%;
  outline: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.landing-page-container .landing-page-card-container {
  justify-content: left;
  margin-top: 0em;
}
.landing-page-container .landing-page-card:hover {
  outline: 1px solid rgba(254, 169, 1, 0.3);
  background-color: rgba(254, 169, 1, 0.05);
}
.landing-page-container .landing-page-add-card {
  text-align: center;
  height: 13em;
  width: 100%;
  outline: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  box-shadow: none;
  background: none;
  border: 2px dashed #ccc;
}
.landing-page-container .landing-page-add-card:hover {
  border: 2px dashed #bbb;
  background-color: rgba(254, 169, 1, 0.05);
}
.landing-page-container .landing-page-card-title {
  font-size: 1.5em;
  font-family: "Abel";
  color: #de9300;
  line-height: 1;
}
.landing-page-container .landing-page-card-description {
  margin-top: 0.5em;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.54);
}
.landing-page-container .landing-page-icon {
  color: #666;
  font-size: 3em;
  height: 1.25em;
}
