.settings-flex-column {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  height: 100%;
  padding: 0 1em;
}
.settings-chip {
  margin: 4px;
}
.settings-flex-chip {
  display: flex;
  flex-flow: wrap;
}
.settings-button-bar {
  align-self: flex-end;
  margin: 1em;
  margin-right: 0;
  margin-top: auto;
}
