section {
  display: table;
  width: 100%;
  border-spacing: 1em 0em;
  border-collapse: separate;
}

section > * {
  display: table-row;
}

section .col {
  display: table-cell;
  vertical-align: middle;
}
.empty-msg {
  padding: 0.5em;
  background: #fafafa;
  font-style: italic;
  color: rgb(119, 119, 119);
}
.table-header {
  font-weight: bold;
  padding-bottom: 0.2em;
  color: #555;
}
.table-row {
  padding: 0.5em 0em;
}
