.header-max-logo {
  height: 40px;
  width: auto;
}
.header-login-message {
  display: flex;
  align-items: center;
  place-content: center;
  color: #fff;
  font-size: 1.25rem;
  font-family: "Abel", "sans-serif";
}
.header-login-message:hover {
  color: #ffd88c;
}
.header-toolbar {
  justify-content: space-between;
  background-color: #011428;
  z-index: 1001;
}
.header-drawer-menu-container {
  display: flex;
  flex-direction: column;
  width: 15em;
  padding-left: 1em;
}
.header-drawer-menu-category {
  color: #999;
  font-family: "Abel";
  font-size: 1.1em;
  margin-top: 1em;
}
.header-center-login {
  text-align: center;
  margin: 1em 0;
}
.header-mobile-login-message {
  margin-bottom: 0.5em;
}
.header-mobile-nav-flex {
  justify-content: space-between;
}

.header-dropdown-button {
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  background-color: inherit;
  font-family: "Nunito", "sans-serif";
  margin: auto 0.5em;
  color: #fff;
}
.header-dropdown-button-active {
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  background-color: inherit;
  font-family: "Nunito", "sans-serif";
  margin: auto 0.5em;
  color: #eee;
}
.header-dropdown-button:focus {
  border: none;
  outline: none;
}
.header-dropdown-button-disabled {
  border: none;
  font-size: 1.1em;
  background-color: inherit;
  font-family: "Nunito", "sans-serif";
  border-bottom: 1px solid transparent;
  color: #999;
  margin: auto 0.5em;
  cursor: default;
}
.header-dropdown-content {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #011428;
  line-height: 2em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.header-domni {
  font-size: 1.4em;
  color: #fff;
  font-weight: normal;
  font-family: "Abel", "sans-serif";
  letter-spacing: 0.15em;
}
.header-domni:hover {
  color: #ffd88c;
}
