::selection {
  background: rgba(108, 158, 0, 0.2);
}
::-moz-selection {
  background: rgba(108, 158, 0.2);
}

@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Nunito");

code {
  background: #eee;
  font-family: consolas, monospace;
}
body {
  background: #fafafa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  overflow-y: scroll;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0em;
}
h5 {
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 0em;
}
a {
  text-decoration: none;
}
td {
  vertical-align: top;
}
button {
  padding: 0;
  background: none;
  border: none;
}
*:focus {
  outline: none;
}

.secondary-light {
  color: #fea901;
}
.secondary-main {
  color: #de9300;
}
.secondary-dark {
  color: #bf7f00;
}
.link {
  text-decoration: none;
  font-size: 1em;
  color: #de9300;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.link:disabled {
  color: #777;
  cursor: default;
}
.link:disabled:hover {
  color: #777;
}
.link:hover {
  color: #fea901;
  background-color: transparent;
}
.menu-link {
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.menu-link:disabled {
  color: #777;
  cursor: default;
}
.menu-link:disabled:hover {
  color: #777;
}
.menu-link:hover {
  color: #ffd88c;
  background-color: transparent;
}
.archive-table-container .highlight-row {
  padding: 0;
}
.no-padding {
  padding: 0;
}
.highlight-background {
  background: rgba(254, 169, 1, 0.2);
}
.settings-container .small-heading {
  font-size: 1.25em;
}
.domni-form .form-heading {
  font-size: 1.35em;
  margin-top: 0.5em;
}
.form-sub-heading {
  color: rgb(119, 119, 119);
  font-weight: bold;
}
.paper {
  padding: 2em;
  margin: 2em 0em;
}
.domni-form .supervisor-form-section {
  background: rgba(254, 169, 1, 0.07);
  padding: 1em;
}
.admin-segment-form-heading {
  font-size: 1.35em;
  margin-top: 0em;
}
.admin-segment-grid-item {
  padding: 16px;
}
.category-preface {
  color: #aaa;
}
.category-preface::after {
  content: " | ";
}
.primary-dark-color {
  color: #a8a8a8;
}

.full-page-msg {
  max-width: 40em;
  margin: 2em auto;
  font-size: 1.2em;
  text-align: center;
}
.archived-tag {
  padding: 0.4em 0 0.5em 0;
  width: 6em;
  margin: auto 0.2em;
  border-radius: 0.3em;
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  background: #999;
  color: white;
}

.status-tag {
  padding: 0.5em;
  padding-top: 0.4em;
  margin: auto 0.2em;
  border-radius: 0.3em;
  width: 5em;
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  background: #f3f3f3;
  text-transform: capitalize;
}
.status-tag-approved {
  color: #328732;
}
.status-tag-pending {
  color: #666;
}
.status-tag-rejected {
  color: #c20c0c;
}
.edit-mode-label {
  color: #ccc;
  font-weight: bold;
  padding: 0.1em 0.3em;
  margin-left: 1em;
  border: 3px solid #ccc;
  border-radius: 0.2em;
  font-size: 2rem;
  cursor: default;
  white-space: nowrap;
}
.step-icon {
  z-index: 10;
  border: 1px solid #ddd;
  padding: 0.5em;
  padding-top: 0.4em;
  margin: auto 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  background: white;
  text-transform: capitalize;
  width: 7em;
  overflow: hidden;
}

.index-tag {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  background: #aaa;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 0.7em;
  padding: 0.2em;
}
.notification-tag {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: #646464;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  padding: 0.2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  font-size: 0.7rem;
  transition: background 0.5s linear;
}
.notification-tag:hover {
  background: #7a7a7a;
}
.search-input {
  display: flex;
  padding: 0.5em;
  padding-left: 1em;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  max-height: 2em;
}
.search-input:hover {
  opacity: 1;
}
.table-total {
  color: rgb(108, 158, 0);
  text-transform: uppercase;
  text-align: right;
  margin-top: 0.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.editable-list {
  width: 100%;
  position: relative;
  overflow: auto;
  max-height: 450px;
  padding: 0.5em;
}
.highlight {
  background: #dea4003d;
  color: black;
  border-radius: 2px;
}
.subtitle {
  color: #777;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 0.5em;
}
fieldset {
  border: none;
}

.ldap-person-link {
  cursor: pointer;
  transition: color 0.5s;
}
.ldap-person-link:hover {
  color: #de9300;
}
.consolas-label {
  padding: 0em 0.5em 0.1em 0.5em;
  border-radius: 0.3em;
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
  background: #f3f3f3;
  color: rgb(145 96 0);
  text-transform: capitalize;
  text-transform: uppercase;
  border: none;
  cursor: default;
  background-color: rgb(220 169 66 / 20%);
}
.logo-domni {
  font-family: "Abel";
  margin-bottom: -0.25em;
  line-height: 1;
  font-size: 44px;
  font-weight: bold;
  /* background: -webkit-linear-gradient(#fea901,  #de9300,  #bf7f00); */
  background: -webkit-linear-gradient(#bf7f00, #de9300, #fea901);
  /* background: -webkit-linear-gradient(#bf7f00,  #fea901,  #bf7f00); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #de9300;
}
.ldap-person-card-container {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-icon {
  display: flex;
  margin-right: 0.5em;
}
.edit-icon {
  cursor: pointer;
  color: #ddd;
  transition: color 0.3s ease-in-out;
}
.edit-icon:hover {
  color: #de9300;
}
.warning-color {
  color: #c05858;
}

.action-menu-container {
  text-decoration: none;
  color: #de9300;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.action-menu-container-disabled {
  color: #777;
  cursor: default;
}
small {
  font-size: 0.85em;
  color: rgb(100, 100, 100);
}
.loading {
  padding: 1em;
  font-size: 0.8em;
  color: #aaa;
}

.domni-loader {
  /* display: inline-block;
  width: 48px;
  height: 48px; */
  display: flex;
  justify-content: center;
}
.domni-loader:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #6c9e003a;
  border-color: #6c9e003a transparent #6c9e003a transparent;
  animation: domni-loader 1.2s linear infinite;
}
@keyframes domni-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.language-icon {
  height: 40px;
  cursor: pointer;
  filter: grayscale(80%);
  transition: filter 0.5s ease-in-out;
}
.language-icon:hover {
  filter: grayscale(30%);
}
.led {
  margin: 20px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.led-red {
  background-color: rgb(182, 42, 0);
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #f00 0 2px 12px;
}

.led-yellow {
  background-color: rgb(241, 217, 0);
  box-shadow: #000 0 -1px 7px 1px, inset #660 0 -1px 9px, #dd0 0 2px 12px;
}

.led-green {
  background-color: rgb(142, 212, 0);
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7d0 0 2px 12px;
}

.led-gray {
  background-color: rgb(122, 122, 122);
  box-shadow: #000 0 -1px 7px 1px, inset rgb(94, 94, 94) 0 -1px 9px,
    rgb(175, 175, 175) 0 2px 14px;
}
